body{
   
    background-color: white;
}

a:hover{
    background-color: darkorange;
    border-color: black;
    
    
}
a{
    padding:100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    
}


.carousel-item{

    width: 900px;
    height: 300px;
}



h1{

    background-color: darkorange;
    font-size: 150px ;
    text-align: center;
    
}



footer{
    padding: 100px;
    background-color: black;
}

.text-sm-left{

    background-color:darkorange ;
    font-size: 20px;
}



.text-1{
    float: center;
    font-size: 20px;
}
.text-2{
    float: center;
    font-size: 20px;
}
p{
    column-count:2;
    column-gap:30px;
    font-family: cursive;
    font-size: 10px;

}

section{
    float: center;
}